[submodule "Ground_Station"]
	path = Ground_Station
	url = git@github.com:THI-Drone/Ground_Station.git
[submodule "Ground_Station_Bridge/telemetry_package"]
	path = Ground_Station_Bridge/telemetry_package
	url = git@github.com:THI-Drone/telemetry_package.git
[submodule "Ground_Station_Bridge/interfaces"]
	path = Ground_Station_Bridge/interfaces
	url = git@github.com:THI-Drone/interfaces.git
[submodule "Ground_Station_Bridge/common_package_py"]
	path = Ground_Station_Bridge/common_package_py
	url = git@github.com:THI-Drone/common_package_py.git
